body {
    margin: 0 auto;
    padding: 0;
    width: 1200px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
}

.index {
    background-image: url("../img/main-background.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

.hotels {
    background-image: url("../img/hotels-background.jpg");
    background-position: center -240px;
    background-repeat: no-repeat;
    background-size: 1200px;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
  
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
  
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.index-container {
    text-align: center;
}

a {
    text-decoration: none;
}

.main-navigation {
    font-weight: 700;
    background-color: #ffffff;
}

.site-navigation {
    list-style: none;
}

.site-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus
{
    color: #81b3d2;
}

.site-navigation a:active
{
    color: #b2b2b2;
}

.site-navigation .active-link {
    color: #766357;
}

.reasons-promo {
    background-color: #ffffff;
}

.reasons-promo b {
    font-size: 21px;
}

.reasons {
    line-height: 21px;
}

.reason-open {
    color: white;
    background-color: #81b3d2;
}

.reasons h3 {
    font-size: 21px;
    font-weight: 700;
}

.feature-list {
    list-style: none;
}

.feature-item b {
    font-size: 21px;
    font-weight: 700;
}

.reasons-list {
    list-style: none;
    background-color: #eeeeee;
}

.search-promo b {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

.button {
    font-size: 21px;
    font-weight: 700;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    border: none;
}

.open-search-button
{
    background-color: #766357;
}

.search-button {
    background-color: #81b3d2;
}

.open-search-button:hover,
.open-search-button:focus {
    background-color: #604e43;
}

.open-search-button:active {
    color: #857871;
    background-color: #503e33;
}

.search-button:hover,
.search-button:focus {
    background-color: #669ec0;
}

.search-button:active {
    color: #88b6d1;
    background-color: #5496bd;
}

.hotel-search-item {
    font: inherit;
    font-weight: 700;
}

.hotel-search-item input {
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
}

.hotel-search-item input:hover {
    background-color: #ebebeb;
    border: 2px solid #ebebeb;
}

.hotel-search-item input:focus {
    outline: none;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}

.social-list {
    list-style: none;
}

.social-list a {
    color: #000000;
}

.hashtag {
    font-size: 21px;
    font-weight: 700;
}

.hotel-filter {
    color: #ffffff;
}

.search-results {
    background-color: #ffffff;
}

.main-footer {
    background-color: #ffffff;
}

.filter-column-header {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}

.aplly-filter-button {
    font-size: 14px;
    font-weight: 400;
    border: 2px solid #ffffff;
    background-color: transparent;
}

.aplly-filter-button:hover,
.aplly-filter-button:focus {
    color: #000000;
    background-color: #ffffff;
}

.search-results-header b {
    font-size: 21px;
    font-weight: 700;
}

.search-results-sort {
    font-size: 12px;
    line-height: 18px;
}

.sort-type {
    list-style: none;
}

.hotel-list {
    list-style: none;
}

.hotel-list-item h3 {
    font-size: 21px;
    font-weight: 700;
}

.hotel-list-item h3:hover,
.hotel-list-item h3:focus {
    color: #81B3D2;
}

.hotel-list-item h3:active {
    color: rgba(0, 0, 0, 0.3);
}

.hotel-item-label {
    line-height: 21px;
}

.hotel-reserve-button
{
    background-color: #766357;
    font-size: 14px;
    line-height: 21px;
}

.hotel-info-button {
    background-color: #81b3d2;
    font-size: 14px;
    line-height: 21px;
}

.hotel-reserve-button:hover,
.hotel-reserve-button:focus {
    background-color: #604e43;
}

.hotel-reserve-button:active {
    color: #857871;
    background-color: #503e33;
}

.hotel-info-button:hover,
.hotel-info-button:focus {
    background-color: #669ec0;
}

.hotel-info-button:active {
    color: #88b6d1;
    background-color: #5496bd;
}

.hotel-rate {
    color: #666666;
    background-color: #F2F2F2;
    line-height: 21px;
}

.sort-type-item {
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dashed #81B3D2;
}

.sort-type-item.selected {
    color: #81B3D2;
    border: none;
}

.sort-type-item:hover,
.sort-type-item:focus {
    color: #81B3D2;
    border-bottom: 1px dashed #81B3D2;
}

.sort-type-item:active {
    color: #000000;
    border: none;
}

/* Сетки */
.site-navigation {
    margin: 0;
    padding: 0;
    display: flex;
}

.main-header-logo {
    width: 138px;
    height: 70px;
}

.site-navigation li {
    width: 240px;
    text-align: center;
}

.site-navigation li:nth-of-type(3) {
    width: 245px;
}

.welcome-img {
    padding-top: 80px;
    margin-bottom: 80px;
}

.reasons-promo {
    padding-top: 60px;
    padding-bottom: 60px;
}

.reason-open {
    display: flex;
    margin-bottom: 0;
}

.feature-list {
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 85px;
}

.reasons-list {
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 55px;
}

.feature-item {
    width: 400px;
}

.reason-item {
    width: 400px;
}

.main-footer {
    display: flex;
    margin-top: 80px;
}

.hotel-filter-form {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}

.filter-column-infarastructure {
    width: 180px;
    margin-left: 70px;
    margin-right: 75px;
}

.filter-column-house-type {
    width: 180px;
    margin-right: 300px;
}

.filter-column-cost {
    width: 320px;
    margin-left: auto;
}

.filter-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filter-item {
    margin: 0;
}

.search-results-header {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}

.search-result-caption {
    margin-left: 70px
}

.search-results-sort {
    margin-left: 30px;
    display: flex;
}

.sort-type {
    display: flex;
    margin: 0;
    padding: 0;
}

.hotel-list {
    margin: 0;
    padding: 0;
}

.hotel-list-item {
    display: flex;
    padding: 30px 0;
}

.hotel-image {
    width: 135px;
    height: 90px;
    margin-left: 75px;
}

.hotel-list-item-wrapper {
    width: 545px;
    margin-left: 30px;
    margin-right: 235px;
}

.hotel-list-rate {
    width: 110px;
    margin-right: 75px;
}