body {
    margin: 0 auto;
    padding: 0;
    width: 1200px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
}

.index {
    background-image: url("../img/main-background.jpg");
    background-position: center top;
    background-repeat: no-repeat;
}

.hotels {
    background-image: url("../img/hotels-background.jpg");
    background-position: center -240px;
    background-repeat: no-repeat;
    background-size: 1200px;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
  
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
  
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.index-container {
    text-align: center;
}

a {
    text-decoration: none;
}

.main-navigation {
    font-weight: 700;
    background-color: #ffffff;
}

.site-navigation {
    list-style: none;
}

.site-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus
{
    color: #81b3d2;
}

.site-navigation a:active
{
    color: #b2b2b2;
}

.site-navigation .active-link {
    color: #766357;
}

.reasons-promo {
    background-color: #ffffff;
}

.reasons-promo b {
    font-size: 21px;
}

.reasons {
    line-height: 21px;
}

.reason-open {
    color: white;
    background-color: #81b3d2;
}

.reasons h3 {
    font-size: 21px;
    font-weight: 700;
}

.feature-list {
    list-style: none;
}

.feature-item b {
    font-size: 21px;
    font-weight: 700;
}

.reasons-list {
    list-style: none;
    background-color: #eeeeee;
}

.search-promo b {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

.button {
    font-size: 21px;
    font-weight: 700;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    border: none;
}

.open-search-button
{
    background-color: #766357;
}

.search-button {
    background-color: #81b3d2;
}

.open-search-button:hover,
.open-search-button:focus {
    background-color: #604e43;
}

.open-search-button:active {
    color: #857871;
    background-color: #503e33;
}

.search-button:hover,
.search-button:focus {
    background-color: #669ec0;
}

.search-button:active {
    color: #88b6d1;
    background-color: #5496bd;
}

.hotel-search,
.hotel-search input
 {
    font: inherit;
    font-weight: 700;
    text-transform: uppercase;
}

.hotel-search-item input {
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
}

.hotel-search-item input:hover {
    background-color: #ebebeb;
    border: 2px solid #ebebeb;
}

.hotel-search-item input:focus {
    outline: none;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}

.social-list {
    list-style: none;
}

.social-list a {
    color: #000000;
}

.hashtag {
    font-size: 21px;
    font-weight: 700;
}

.hotel-filter {
    color: #ffffff;
}

.search-results {
    background-color: #ffffff;
}

.main-footer {
    background-color: #ffffff;
}

.filter-column-header {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}

.aplly-filter-button {
    font-size: 14px;
    font-weight: 400;
    border: 2px solid #ffffff;
    background-color: transparent;
}

.aplly-filter-button:hover,
.aplly-filter-button:focus {
    color: #000000;
    background-color: #ffffff;
}

.search-results-header b {
    font-size: 21px;
    font-weight: 700;
}

.search-results-sort {
    font-size: 12px;
    line-height: 18px;
}

.sort-type {
    list-style: none;
}

.hotel-list {
    list-style: none;
}

.hotel-list-item h3 {
    font-size: 21px;
    font-weight: 700;
}

.hotel-list-item h3:hover,
.hotel-list-item h3:focus {
    color: #81B3D2;
}

.hotel-list-item h3:active {
    color: rgba(0, 0, 0, 0.3);
}

.hotel-item-label {
    line-height: 21px;
}

.hotel-reserve-button
{
    background-color: #766357;
    font-size: 14px;
    line-height: 21px;
}

.hotel-info-button {
    background-color: #81b3d2;
    font-size: 14px;
    line-height: 21px;
}

.hotel-reserve-button:hover,
.hotel-reserve-button:focus {
    background-color: #604e43;
}

.hotel-reserve-button:active {
    color: #857871;
    background-color: #503e33;
}

.hotel-info-button:hover,
.hotel-info-button:focus {
    background-color: #669ec0;
}

.hotel-info-button:active {
    color: #88b6d1;
    background-color: #5496bd;
}

.hotel-rate {
    color: #666666;
    background-color: #F2F2F2;
    line-height: 21px;
}

.sort-type-item {
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dashed #81B3D2;
}

.sort-type-item.selected {
    color: #81B3D2;
    border: none;
}

.sort-type-item:hover,
.sort-type-item:focus {
    color: #81B3D2;
    border-bottom: 1px dashed #81B3D2;
}

.sort-type-item:active {
    color: #000000;
    border: none;
}

/* Сетки */
.site-navigation {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.site-navigation a {
    padding: 15px 0px;
    width: 239px;
    display: inline-block;
    text-align: center;
}

.site-navigation li:nth-of-type(3) {
    margin-left: 244px;
}

.main-header-logo {
    width: 138px;
    height: 70px;

    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.welcome-img-wrapper {
    position: relative;
    padding-top: 75px;
    padding-bottom: 75px;
}

.welcome-img-wrapper::after {
    content: "";

    width: 1200px;
    height: 57px;
    bottom: 0;
    left: 0;
    position: absolute;
    background-image: url("../img/shape.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.reasons-promo {
    padding: 60px 355px 50px 355px;
}

.reasons-promo b {
    display: block;
    margin-bottom: 30px;
}

.reasons-promo p {
    margin: 0;
}

.reason-open {
    display: flex;
}

.reason-open-wrapper {
    padding: 45px 45px 0px 50px;
}

.reason-open-wrapper h3 {
    margin: 0;
    margin-bottom: 25px;

}

.reason-open-wrapper span {
    display: block;
    margin-bottom: 25px;
}

.reason-open-wrapper p {
    margin: 0;
}

.feature-list {
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.feature-item {
    width: 400px;
    padding-top: 160px;
    padding-bottom: 85px;
    position: relative;
}

.feature-item b {
    display: block;
    margin-bottom: 25px;
}

.feature-item p {
    margin: 0 50px;
}

.feature-item.house::before {
    position: absolute;

    content: "";

    width: 75px;
    height: 72px;
    left: 50%;
    top: 55px;
    margin-left: -37.5px;
    background-image: url("../img/icon-house.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.feature-item.food::before {
    position: absolute;

    content: "";

    width: 74px;
    height: 70px;
    left: 50%;
    top: 58px;
    margin-left: -37px;
    background-image: url("../img/icon-food.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.feature-item.souviner::before {
    position: absolute;

    content: "";

    width: 64px;
    height: 76px;
    left: 50%;
    top: 55px;
    margin-left: -32px;
    background-image: url("../img/icon-souviner.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.reasons-list {
    display: flex;
    margin: 0;
    padding: 0;
}

.reason-item {
    width: 400px;
    padding: 50px 60px 60px 60px;
}

.reason-item h3 {
    margin: 0;
    margin-bottom: 20px;
    padding: 0 70px;
}

.reason-item span {
    display: block;
    margin-bottom: 20px;
}

.reason-item p {
    margin: 0;
}

.search-promo {
    padding-top: 50px;
}

.search-promo b {
    display: block;
    margin-bottom: 50px;
}

.search-promo p {
    margin: 0;
}

.search-promo p {
    margin-bottom: 10px;
}

.open-search-button {
    width: 568px;
    padding: 30px 0;
}

.hotel-search-form-wrapper {
    position: relative;
}

.hotel-search-form {
    position: absolute;
    width: 568px;
    left: 50%;
    margin-left: -284px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    padding: 55px;
    box-sizing: border-box;
}

.hotel-search-item {
    margin: 0;
    width: 458px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.hotel-search-item input {
    padding: 5px 0px 5px 10px;
    width: 346px;
    box-sizing: border-box;
}

.person-count p {
    margin: 0;
}

.person-count input {
    width: 114px;
}

#adults {
    margin-left: 37px;
}

#children {
    margin-left: 26px;
}

.search-button {
    padding: 16px 0;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    width: 458px;
    margin-top: 25px;
}

.main-footer {
    display: flex;
    margin-top: 80px;
}

.hotel-filter-form {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}

.filter-column-infarastructure {
    width: 180px;
    margin-left: 70px;
    margin-right: 75px;
}

.filter-column-house-type {
    width: 180px;
    margin-right: 300px;
}

.filter-column-cost {
    width: 320px;
    margin-left: auto;
}

.filter-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filter-item {
    margin: 0;
}

.search-results-header {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}

.search-result-caption {
    margin-left: 70px
}

.search-results-sort {
    margin-left: 30px;
    display: flex;
}

.sort-type {
    display: flex;
    margin: 0;
    padding: 0;
}

.hotel-list {
    margin: 0;
    padding: 0;
}

.hotel-list-item {
    display: flex;
    padding: 30px 0;
}

.hotel-image {
    width: 135px;
    height: 90px;
    margin-left: 75px;
}

.hotel-list-item-wrapper {
    width: 545px;
    margin-left: 30px;
    margin-right: 235px;
}

.hotel-list-rate {
    width: 110px;
    margin-right: 75px;
}